<!DOCTYPE html>
<html lang="en">

<head style="font-family: 'Helvetica', 'Arial', sans-serif;">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }}</title>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

 <!-- SEO -->
  {# <title>Saeed Mirshekari - O'Fallon Labs - Home</title> #}
  <meta content="The official website of Saeed Mirshekari, PhD. You can change your future by learning how to do a data science project end to end from scratch with little to no coding background. Becoming Data Scientist Fast offers a 5 week hands-on learning experience transforming you from zero to hero by walking you through the end-to-end process of a real world data science problem." name="description">
  <meta content="how to learn data science, how to self study data science, how to learn end-to-end, data, data science, data scientist, be data scientist, data scientist salary, data scientist job, machine learning, learning data science, training, bootcamp, free course, data science course, skilled data scientist, industery, academia, about data science, becoming data scientist, career coach, data science mentorship, free course on data science, one to one, office hours, data science projects, how to start data science, how to get a data scientist job, sexy jobs" name="keywords">
  <meta content="Saeed Mirshekari" name="author">
  <link rel=“canonical” href=“https://www.saeedmirshekari.com/” />

  <!-- Favicons -->
  <link href="/assets/img/favicon.ico" rel="icon">
  <link href="/assets/img/favicon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v4.7.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<main id="main"> 

{% include 'header.njk'%}

<style>
h1, h2, h3, h4, h5 {
  font-family: Merriweather;
  font-weight: bold;
}
</style>


{# <body style="font-family: CouMerriweather; font-weight: normal; "> #}
<body style="font-family: Tahoma; font-weight: normal; ">

{{content | safe}}


<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>

</main>

{% include 'footer.njk' %}

</html>