---
layout: 'blog_base.njk'
writer: 'Soroosh Mirshekari'
profilePicture: '/assets/img/blog/soroosh-mirshekari.jpeg'
profileDescription: 'Soroosh is an undergraduate Computer Science student at Science and Technology University in Tehran with a strong academic foundation in
Data Structures, Algorithms, and Artificial Intelligence. He is currently preparing for graduate studies in Computer Science.'
---
{{content | safe}}

