---
layout: 'blog_base.njk'
writer: 'Alireza Sepehri'
profilePicture: '/assets/img/blog/alireza-sepehri.jpeg'
profileDescription: 'Alireza is an undergraduate Computer Science student at Science and Technology University in Tehran. He is currently working on
Building hands-on projects in Machine Learning, while strengthening my foundation in algorithms, statistics, and model optimization.'
---
{{content | safe}}

