  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <a style="text-align:left; font-family: Merriweather; font-size: 3vh; color:#565e49;" href="/index.html"><img style="vertical-align: -5px; text-align:left; width:4vh" src="/assets/img/OLAB_LOGO.png" alt="" class=""> O'Fallon Labs</a>

      {# <div class="logo">
        <!-- <h1 class="text-light"><a href="index.html">Physics | AI | People</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/index.html" style="color: #000000; font-family: Segoe Script; font-size: 75%; color:#565e49;"><img src="/assets/img/logo.png" alt="" class="img-fluid"> O'Fallon Labs</a>
      </div> #}

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index.html" style="font-family: Merriweather">Home</a></li>
          <li><a href="/team" style="font-family: Merriweather">About</a></li>

          <li class="dropdown"><a href="/services" style="font-family: Merriweather"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/ecourse-bdsf" style="font-family: Merriweather">Learning (FREE) <i class="bi bi-headphones" style="color: #94c045;"></i></a></li>
              <li><a href="/ecourse-bdsf-training" style="font-family: Merriweather">Training <i class="bi bi-headset" style="color: #94c045;"></i></a></li>
              <li><a href="/coaching-plan" style="font-family: Merriweather">Mentoring <i class="bi bi-trophy" style="color: #94c045;"></i></a></li>
              <li><a href="/analytics" style="font-family: Merriweather">Analytics <i class="bi bi-gem" style="color: #94c045;"></i></a></li>
              {# <li><a href="/services">All Services <i class="bi bi-headphones" style="color: #94c045;"></i> <i class="bi bi-headset" style="color: #94c045;"></i> <i class="bi bi-trophy" style="color: #94c045;"></i> <i class="bi bi-gem" style="color: #94c045;"></i> </a></li> #}

              </li>
            </ul>
          </li>
          
          <li><a href="/pricing" style="font-family: Merriweather">Pricing</a></li>
          <li><a href="/results" style="font-family: Merriweather">Results</a></li>
          <li><a href="/blog" style="font-family: Merriweather">Blog</a></li>
          <li><a href="/contact" style="font-family: Merriweather">Contact</a></li>

          <li><a class="getstarted"  style="font-family: Merriweather" target = "_blank" href="/services">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>

  </header><!-- End Header -->

        <!-- ======= Breadcrumbs ======= -->
    {# <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-herol">
            <h1>{{title}}</h1>
            <p>{{description}}</p>

          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="/index.html">Home</a></li>
          <li>{{title}}</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs --> #}