---
title: Learning Center
description: Read my regular, original posts on Career Development, Data Science, Machine Learning Tips & Tricks, and content related to other topics right here.

layout: blog_base_nobody.njk
---

<head>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

    <!-- ======= Blog Section ======= -->

        <div class="row">

            {%- for post in collections.post | reverse -%}

              <article class="entry col-md-6">
                <style>
                img {
                  border-radius: 100%;
                }
                </style>
                <a href="{{post.url}}">
                  <div class="entry-img zoom">
                    <img src="{{post.data.thumbnail}}" alt="" class="" height="300" style="">
                  </div>
                </a>
                <h2 class="entry-title">
                  <a href="{{post.url}}" style="font-size:24px; position:static; bottom:0px;">{{ post.data.title }}</a>
                </h2>

                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{{post.url}}"><time datetime="YY-DD-MM">{{post.date | postDate}}</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{{post.url}}">{{ post.data.author }}</a></li>
                    {# <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{{post.url}}">0 Comments</a></li> #}
                  </ul>
                </div>

                {# <div class="entry-content">
                  <p>
                    {{post.data.description}}
                  </p>

                  <div class="read-more">
                    <a href="{{post.url}}">Read More</a>
                  </div>
                </div> #}

              </article><!-- End blog entry -->
            {%- endfor -%}
          </div>
