---
title: Data Science Learning Center
description: Read our regular, original posts on Career Development, Data Science, Machine Learning Tips & Tricks, and content related to other topics right here.
pagination:
  data: collections.post
  reverse: true
  size: 6
layout: blog_base_nobody.njk
---



<head style="font-family: 'Helvetica', 'Arial', sans-serif;">
  
 <!-- SEO -->
  <meta content="Read our regular, original posts on Career Development, Data Science, Machine Learning Tips & Tricks, and content related to other topics right here. Hot topics in this page includes: Top 10 Most In-Demand Skills for Data Scientists in 2022; Is Data Science For Me? 6 Questions to Ask Yourself; How To Prepare For Success In Your First Data Science Job Interview; " name="description">
  <meta content="Data Science Mentoring Program, Data Science Training, Become Data Scientist, Data Scientist Salary" name="keywords">
  <meta content="Saeed Mirshekari" name="author">
  <link rel=“canonical” href=“https://www.saeedmirshekari.com/blog” />
</head>

{# ############ #}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Simple Web Page</title>
    <style>
      h1 {
        margin: 2em 0;
      }
    </style>
    <!-- widget stuff here -->
    <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/js/okta-sign-in.min.js" type="text/javascript"></script>
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-theme.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">
      <!-- where the sign-in form will be displayed -->
      <div id="okta-login-container"></div>
    </div>
    <script type="text/javascript">
      var oktaSignIn = new OktaSignIn({
        baseUrl: "dev-12563978.okta.com",
        clientId: "{{ YOUR_APP_CLIENT_ID }}",
        authParams: {
          issuer: "default",
          responseType: ['token', 'id_token'],
          display: 'page'
        }
      });

      if (oktaSignIn.token.hasTokensInUrl()) {
        oktaSignIn.token.parseTokensFromUrl(
          // If we get here, the user just logged in.
          function success(res) {
            var accessToken = res[0];
            var idToken = res[1];

            oktaSignIn.tokenManager.add('accessToken', accessToken);
            oktaSignIn.tokenManager.add('idToken', idToken);

            window.location.hash='';
            document.getElementById("messageBox").innerHTML = "Hello, " + idToken.claims.email + "! You just logged in! :)";
          },
          function error(err) {
            console.error(err);
          }
        );
      } else {
        oktaSignIn.session.get(function (res) {
          // If we get here, the user is already signed in.
          if (res.status === 'ACTIVE') {
            document.getElementById("messageBox").innerHTML = "Hello, " + res.login + "! You are *still* logged in! :)";
            return;
          }
          oktaSignIn.renderEl(
            { el: '#okta-login-container' },
            function success(res) {},
            function error(err) {
              console.error(err);
            }
          );
        });
      }
    </script>
  </body>
</html>
{# ############ #}


{# Next/Previous #}
<center>
<div class="pagination_flat">
<a href="/tags/career" class="prev"> <i class="bi bi-tags"></i> Career </a>
<a href="/tags/projects" class="prev"> <i class="bi bi-tags"></i> Projects </a> 
<a href="/tags/mentoring" class="prev"> <i class="bi bi-tags"></i> Mentoring </a> 
</div>
</center>
<br>


<!-- ======= Blog Section ======= -->
<div class="row">

{% for post in pagination.items %}

  <article class="entry col-md-6" style="margin-left: 0px; margin-right: 0px; background-color:#fff;">

    <a href="{{post.url}}">

      <div id="wrap">
        <div id="left_col">
          <div class="column zoom"> <img src="{{post.data.thumbnail}}" alt="" class="" 
          style="object-fit:cover; width:90%; height:150px;">  </div>
        </div>

        <div id="right_col">
          <div class="column"> 
          <a style="line-height:120%; color:#777" href="{{post.url}}" style="position:static; bottom:0px;">
          <b>{{ post.data.title }}</b></a> 
          <br>
          <i class="bi bi-clock"></i> <i class="timeago" style="position:static; bottom:0px; color:#94c045" title="{{post.date | postDate}}"></i>
          <br>
          <i class="bi bi-person"></i> <i href="{{post.url}}">{{ post.data.author }}</i>
          <br>
          {% for tag in post.data.tags %}
            <i class="bi bi-tags"></i> <i>{{tag}}</i>
          {% endfor %}
          </div>
        </div>
      </div>
    </a>

  </article>

{% endfor %}


{# Next/Previous #}
<center>
<div class="pagination" style='color=#000; font-size:11px;'>

{% if pagination.pageNumber == 0  %}
  <a class="disabled active prev"><<</a>
{% endif %}

{% if pagination.pageNumber > 0 %}
  {% if pagination.pageNumber == 1 %}
    <a href="/blog/" class="prev"><<</a>
  {% else %}
  <a href="/blog/" class="prev"><<</a>
  {% endif %}
{% endif %}

{# start---------- #}
{# <a class="next" style='background-color:#a62753; color:#fff'>Page {{pagination.pageNumber + 1}}/{{pagination.pages.length}}</a> #}

{% for page in [pagination.pageNumber-2, pagination.pageNumber-1, pagination.pageNumber, pagination.pageNumber+1, pagination.pageNumber+2] %}

  {% if page == pagination.pageNumber%}
    <a href="/blog/{{ page }}" style='background-color:#94c045; color:#000;'><b>{{page+1}}</b></a>
  {% else %}

    {% if page in [-2, -1 , pagination.pages.length, pagination.pages.length+1]  %}
      <a style='background-color:#fff; color:#fff;'>{{page+1}}</a>
    {% else %}
      
      {% if page == 0 %}
      <a href="/blog/" style='background-color:#ddd; color:#111;'>{{page+1}}</a>
      {% else %}
      <a href="/blog/{{ page }}" style='background-color:#ddd; color:#000;'>{{page+1}}</a>
      {% endif %}

    {% endif %}

  {% endif %}

{% endfor %}

{# end---------- #}

{% if pagination.pageNumber < pagination.pages.length - 1  %}
  <a href="/blog/{{ pagination.pages.length-1}}">>></a>
{% endif %}

{% if pagination.pageNumber == pagination.pages.length - 1  %}
  <a class="disabled active">>></a>
{% endif %}


</div>
</center>

{# ********************************** #}

<script>

</script>

