---
title: O'Labs Learning Center for Data Science Enthusiasts
description: Read our regular, original posts on Career Development, Data Science, Machine Learning Tips & Tricks, and content related to other topics right here.

layout: blog_base_nobody.njk
---

<head style="font-family: 'Helvetica', 'Arial', sans-serif;">
 <!-- SEO -->
  <meta content="Read our regular, original posts on Career Development, Data Science, Machine Learning Tips & Tricks, and content related to other topics right here. Hot topics in this page includes: Top 10 Most In-Demand Skills for Data Scientists in 2022; Is Data Science For Me? 6 Questions to Ask Yourself; How To Prepare For Success In Your First Data Science Job Interview; " name="description">
  <meta content="Data Science Mentoring Program, Data Science Training, Become Data Scientist, Data Scientist Salary" name="keywords">
  <meta content="Saeed Mirshekari" name="author">
  <link rel=“canonical” href=“https://www.saeedmirshekari.com/” />
</head>


    <!-- ======= Blog Section ======= -->

        <div class="row">

            {%- for post in collections.post | reverse -%}

              <article class="entry col-md-6">

                <a href="{{post.url}}">
                  <div class="entry-img zoom">
                    <img src="{{post.data.thumbnail}}" alt="" class="" height="300" style="">
                  </div>
                </a>
                <h2 class="entry-title">
                  <a href="{{post.url}}" style="font-size:24px; position:static; bottom:0px;">{{ post.data.title }}</a>
                </h2>

                <div class="entry-meta">
                  <ul>
                    {# <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="{{post.url}}"><time datetime="YY-DD-MM">{{post.date | postDate}}</time></a></li> #}
                                      
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i><abbr class="timeago" title="{{post.date | postDate}}"></abbr></li>


                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{{post.url}}">{{ post.data.author }}</a></li>
                    {# <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="{{post.url}}">0 Comments</a></li> #}
                  </ul>
                </div>

                {# <div class="entry-content">
                  <p>
                    {{post.data.description}}
                  </p>

                  <div class="read-more">
                    <a href="{{post.url}}">Read More</a>
                  </div>
                </div> #}

              </article><!-- End blog entry -->
            {%- endfor -%}
          </div>
