---
title: O'Fallon Labs; Gateway to the Best ( Data Science )
layout: base_blank.njk
---
<head>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/4ee95750bd0fdc9e0e9197d1d/1b628aac677ed8aecde30a3b9.js");</script>

 <!-- SEO -->
  <title>O'Fallon Labs</title>
  <meta content="The official website of Saeed Mirshekari, PhD. Helping your career and business flourish with effective and proven Data Science & Machine Learning practices. Your one-stop shop for all Data Science needs." name="description">
  <meta content="how to learn data science, how to self study data science, how to learn end-to-end, data, data science, data scientist, be data scientist, data scientist salary, data scientist job, machine learning, learning data science, training, bootcamp, free course, data science course, skilled data scientist, industery, academia, about data science, becoming data scientist, career coach, data science mentorship, free course on data science, one to one, office hours, data science projects, how to start data science, how to get a data scientist job, sexy jobs" name="keywords">
  <meta content="Saeed Mirshekari" name="author">
  <link rel=“canonical” href=“https://www.saeedmirshekari.com/” />

</head>


  <!-- ======= Hero Section ======= -->
  
  <section id="hero">
    <div class="hero-container mycontainer content" data-aos="fade-up">
      {# <a href="index.html"><img src="assets/img/OLAB_LOGO.png" alt="" class="img-fluid" style="max-width:50%;"></a> #}

      {# <style>
      h1, h2, h3, a, p {
        font-family: Merriweather;
        font-weight: normal;
        line-height: 60%;
      }
      </style> #}
      
    <span style="">
          <h2 style="font-size:8vh; color:#fff">O'Fallon Labs</h2>
          <h2 style="font-size:8vh; color:#94c045" >O'Fallon Labs</h2>
          <br><br>
    </span>

      {# <h2 style="color: #fff; font-size:8vh; opacity: 1.00;">O'Fallon Labs</h2> #}

      <span class="mybox">
        <h3 style="color: #fff; font-size:4vh; font-family:courier; font-weight: normal; opacity: 1.0;" class="mybox" id="demo1">Gateway to the </h3>
      </span>


<div>

</div>
      <h3 class="" style="color: #fff; font-size:2vh; opacity: 1;"><a style="color:#94c045">══</a>version of yourself<a style="color:#94c045;">══</a></h3><br>
      <a href="/services" class="btn-get-started scrollto" style="font-size:3vh; color: #555;font-family: Raleway;"><b>GET STARTED</b></a>
      <a style="font-size:2vh; color: #fff; opacity: 0.60;"><i class="bx bi-gift"></i> Start for Free</a>
      {# <p style="font-family: SimSun; font-size:150%; color:#fff;">Helping individuals & businesses thrive by leveraging Data Science & Machine Learning.</p> #}
      <br>

      <script>
      var i = 0;
      var txt = '  Best';
      var duration = 300;

      function typeWriter() {
        if (i < txt.length) {
          document.getElementById("demo1").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, duration);
        }
      }

      setTimeout(() => {
        typeWriter();
      }, "2000")
      </script>

      <br>
      <a href="https://thestl.com/about/"><img src="assets/img/usa_flag.png" alt="" class="img-fluid" style="max-width:7vh; opacity:0.45;"> 
      {# <img src="assets/img/mo_flag.svg" alt="" class="img-fluid" style="max-width:7vh; opacity:0.35;"> #}
      </a>
      <a href="https://thestl.com/about/" style="color: #fff; opacity:0.45; font-size:1.5vh">#STLMade</a>


      <h1 style="font-size:3vh; color: #fff; background-color: #000; opacity: 0.75;font-family: Merriweather; position:absolute; bottom:0px;" class="">Helping individuals & businesses thrive by leveraging Data Science & Machine Learning</h1>




      <style>
      p {
        line-height: 150%;
      }
      </style>

    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row justify-content-end">
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-building"></i>
                  <span data-purecounter-start="0" data-purecounter-end="12" class="purecounter">0</span>
                  <p>Happy Corporate Clients</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="150" class="purecounter">0</span>
                  <p>Active Individual Subscribers</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="10" class="purecounter">0</span>
                  <p>Years of Job Experience</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-pen"></i>
                  <span data-purecounter-start="0" data-purecounter-end="40" class="purecounter">0</span>
                  <p>Research Impact (h-index)</p>
                </div>
              </div>
        </div>

        <div class="row">

          <div class="col-lg-6 image-box align-self-baseline position-relative">
             <!-- <a href="https://youtu.be/PJzcyT0LdZ8" class="glightbox mb-4"><img src="assets/img/together.gif" class="img-fluid" alt="" width="100%"></a> -->
             <img src="assets/img/video_cover_saeed.png" class="img-fluid" alt="" width="100%">
             <a href="assets/videos/saeed_intro10.mp4" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>Your Success Story Starts Here</h3>
            <p>
              Data Science is a field full of promising opportunities for students and businesses. So if you are an individual looking forward to making a successful career in Data Science or a business owner wanting to take advantage of Data Analytics, I have got your back.
            </p>
            <p>
              With seamless one-on-one training for your first or next Data Science job or my expert solutions for your business, you will experience unprecedented success at every step of the way.
            </p>

            <h3> Why Choose Me? </h3>
            <ul>
              <li><i class="bx bx-check-double"></i> <b>A Decade of Experience With an Advanced Skillset:</b> With my advanced academic background and a decade of experience in high-tech industries of the US market, take the right shortcut to success with me! </li>
              <li><i class="bx bx-check-double"></i> <b>Effective and Quick Communication:</b> Our regular one-on-one meetings will be thorough and effective. It’s important to listen to you and understand your needs and challenges before providing advice or designing a custom solution. </li>
              <li><i class="bx bx-check-double"></i> <b>Custom Solution Designed to Cater to Your Needs:</b> Every case is different with its specific set of needs and constraints. After understanding them, your custom solution is designed.  </li>
              <li><i class="bx bx-check-double"></i> <b>End-to-end Support:</b> Regular check-in meetings to monitor your progress. I will be present for assistance throughout your journey whenever you need my help. </li>
            </ul>

            <p><a href="team">Saeed Mirshekari, PhD</a><br>
            <img src="assets/img/signature.png" width="150px">


              <div class="col-md-12 text-center">
                <a href="team" class="btn-buy">Learn More About Me</a>
              </div>

          </div>
          <!-- Calendly badge widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/saeedmirshekari/introduction', text: '<i class="bi bi-joystick"></i> Schedule time with me', color: '#94c045', textColor: '#ffffff', branding: false }); }</script>
          <!-- Calendly badge widget end -->

          {# <!-- Calendly inline widget begin -->
          <div class="calendly-inline-widget" data-url="https://calendly.com/saeedmirshekari?hide_gdpr_banner=1&primary_color=94c045" style="min-width:320px;height:630px;"></div>
          <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
          <!-- Calendly inline widget end --> #}

        </div>

      </div>
    </section><!-- End About Section -->
    