---
title: Saeed Mirshekari - O'Fallon Labs
layout: base.njk
---
<head>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/4ee95750bd0fdc9e0e9197d1d/1b628aac677ed8aecde30a3b9.js");</script>
</head>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid" style="max-width:50%;"></a>
      <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
      {# <h1 style="color: #94c045; font-family: 'Bad Script';">O'Fallon Labs</h1> #}
      <!-- <br></br> -->
      <h2>I help people and businesses thrive in their journeys transforming into Data Science and Machine Learning.</h2>
      <a href="/ecourse-bdsf" class="btn-get-started scrollto">Become a Data Scientist</a>
      <a style="color: darkseagreen;"><i class="bx bi-gift"></i> Start for Free</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-building"></i>
                  <span data-purecounter-start="0" data-purecounter-end="12" class="purecounter">0</span>
                  <p>Happy Corporate Clients</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="62" class="purecounter">0</span>
                  <p>Happy Individual Clients</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="9" class="purecounter">0</span>
                  <p>Years of Job Experience</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-pen"></i>
                  <span data-purecounter-start="0" data-purecounter-end="40" class="purecounter">0</span>
                  <p>Research Impact (h-index)</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 image-box align-self-baseline position-relative">
             <!-- <a href="https://youtu.be/PJzcyT0LdZ8" class="glightbox mb-4"><img src="assets/img/together.gif" class="img-fluid" alt="" width="100%"></a> -->
             <img src="assets/img/together.gif" class="img-fluid" alt="" width="100%">
             <a href="https://youtu.be/PJzcyT0LdZ8" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>TOGETHER IS BETTER </h3>
            <p class="fst-italic">
              Are you an individual looking for getting into your first Data Science job or the next? Are you a business owner looking for growing your business through data analytics? Either way, I've got your back every step of the way. Here is what you would experience working with me:
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> <b>Right Experience and Skillset</b> supported by an advanced academic background and years of job experience in high-tech industery in the US market. Been there, done that! And I would love to help you succeed.</li>
              <li><i class="bx bx-check-double"></i> <b>Clear and Fast Communication</b> through regular one-to-one meetings. It is important to listen to you and understand your needs and challenges before giving any advice or making any custom solution.</li>
              <li><i class="bx bx-check-double"></i> <b>Custom Solutions</b> for you and your needs. I believe every case is different and it has its own special needs and constrains that needs to be understood and taken care of. </li>
              <li><i class="bx bx-check-double"></i> <b>End-to-end Support</b> via regular check-in meetings to monitor and sync on the progress. I will be along side you during your journey whenever you need my help.</li>
            </ul>

            <p><a href="index                    .html">Saeed Mirshekari, PhD</a><br>
            <img src="assets/img/signature.png" width="150px">


              <div class="col-md-12 text-center">
                <a href="team.html" class="btn-buy">Learn More About Me</a>
              </div>

          </div>
          <!-- Calendly badge widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/saeedmirshekari/introduction', text: '<i class="bi bi-joystick"></i> Schedule time with me', color: '#94c045', textColor: '#ffffff', branding: false }); }</script>
          <!-- Calendly badge widget end -->
        </div>

      </div>
    </section><!-- End About Section -->
    