---
title: O'Pen Publications
description:  O’Pen from O'Fallon Labs provides high-quality, non-profit publishing services for early-career researchers and graduate students. We support you from evaluating original titles, collaborating with our professional network of technical experts, to presenting your work with beautifully customized LaTeX typesetting and design. We work with original research, translations of public domain works, and titles under non-commercial Creative Commons licenses — ensuring your work reaches its full potential with professional quality and accessibility. Contact us to learn more about our services and how we can help you share your research with the world.
layout: base.njk
---
      <!-- ======= templates Section ======= -->
    <section id="templates" class="templates">
      <div class="container">


    <div class="table-responsive">
          <table class="table table-hover align-middle">
            <thead class="table-light">
              <tr>
                <th scope="col">Thumbnail</th>
                <th scope="col">Title / Author(s)</th>
                <th scope="col">licenses</th>
                <th scope="col">Language</th>
                <th scope="col">Price</th>
                <th scope="col">Download</th>
              </tr>
            </thead>
            <tbody>
    
          <!-- Product Row 1 -->
          <tr>
            <td>
            <a href="/assets/img/cover_TLBODL.png">
              <img src="/assets/img/cover_TLBODL.png" alt="Cover" width="100">
            </a>
            </td>

            <td>
              <br>
              <strong>The Little Book of Deep Learning (Persian Translation)</strong><br>
              <small class="text-muted">François Fleuret</small>
            </td>

            <td>
            Non-Commercial
            </td>

            <td>
              <a>
                فارسی
              </a>
            </td>
            <td>
              <a >
                Free
              </a> 
            </td>
            <td>
              <a href="https://square.link/u/gkqNMWeU" target="_blank" class="btn btn-sm btn-dark">
                <i class="bi bi-cart"></i> Buy Now
              </a>
            </td>
          </tr>




        </tbody>
      </table>
    </div>

      </div>
    </section><!-- End templates Section -->

<section id="faq"  data-aos="fade-up">
<div class="container">
    <div class="section-title" data-aos="fade-up">
        <img src="/assets/img/open.png" width="100" class="img-fluid">
        <p style="font-size: 1.5em; font-family: 'Arial'"><i class="bi bi-vector-pen"></i> <b>O'Pen</b></p>
        <p>Your Research, Beautifully Presented.</p>
    </div>
</div>
</section>

