---
title: O'Pen Publications
description: O’Pen from O'Fallon Labs provides high-quality, non-profit publishing services for early-career researchers and graduate students. Contact us to publish your research work with us.
layout: base.njk
---

<!-- ======= templates Section ======= -->
<section id="templates" class="templates">
  <div class="container">

    <div class="table-responsive">

      <table class="table table-hover align-middle">

        <thead class="table-light">
          <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Author(s)</th>
            <th>License</th>
            <th>Language</th>
            <th>Price</th>
            <th>Download</th>
          </tr>
        </thead>

        <tbody>

          <tr>

            <td>
              <a href="/assets/img/cover_TLBODL.png">
                <img src="/assets/img/cover_TLBODL.png"
                     alt="Book cover"
                     width="100"
                     class="img-fluid">
              </a>
            </td>

            <td>
              <strong>The Little Book of Deep Learning (Persian Translation)</strong>
            </td>

            <td data-label="Author(s)">
              François Fleuret
            </td>
            <td data-label="License">
              Non-Commercial
            </td>

            <td data-label="Language">
              فارسی
            </td>

            <td data-label="Price">
              Free
            </td>

            <td data-label="Download">
              <a href="https://square.link/u/gkqNMWeU"
                 target="_blank"
                 rel="noopener"
                 class="btn btn-sm btn-dark">
                <i class="bi bi-cart"></i> Buy Now
              </a>
            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>
</section>

<section id="faq" data-aos="fade-up">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <img src="/assets/img/open.png" width="100" class="img-fluid">
      <p style="font-size:1.5em;font-family:Arial;">
        <i class="bi bi-vector-pen"></i> <b>O'Pen</b>
      </p>
      <p>Your Research, Beautifully Presented.</p>
    </div>
  </div>
</section>
