---
title: Services
description: Our services help you __either as an individual or as a business__ to thrive in your journey in Data Science and Machine Learning. We offer a variety of services from Basic and Essential to Professional and Enterprise.
layout: base.njk
---

    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
      <div class="container">

<!--         <div class="section-title pt-5" data-aos="fade-up">
        <div class="section-title">
          <h2>Services</h2>
          <p>What We Offer<p/>
        </div>          

        </div> -->

        <div class="row">
          <div class="col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><a href="/ecourse-bdsf"><i class="bi bi-headphones" style="color:#94c045;"></i></a></div>
              <h4 class="title"><a href="/ecourse-bdsf">Learning Program [FREE]</a></h4>
              <p class="description">Do you have a passion to become a Data Scientist? Our forever-free Learning Program helps you get started.
                <br>
                <a href="/ecourse-bdsf"><i class="bi bi-arrow-right"></i> Learn More</a><br>
                {# <a href="/form-course-application"><i class="bi bi-arrow-right"></i> Send an Application</a><br> #}
                <a href="/pricing"><i class="bi bi-arrow-right"></i> Enroll Now</a></p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><a href="team"><i class="bi bi-gem" style="color: #94c045;"></i></a></div>
              <h4 class="title"><a href="team">AI Consultancy (Analytics)</a></h4>
              <p class="description">Are you a business owner looking for the best-in-class AI solutions for your special data? You're in the right place. Let's talk about your special project.
              <br>
              <a href="/results"><i class="bi bi-arrow-right"></i> Learn More</a><br>
              {# <a href="contact"><i class="bi bi-arrow-right"></i> Send an Inquiry</a><br> #}
              <a href="https://calendly.com/saeedmirshekari/introduction"><i class="bi bi-arrow-right"></i> Schedule a Meeting</a></p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><a href="/ecourse-bdsf"><i class="bi bi-headset" style="color: #94c045;"></i></a></div>
              <h4 class="title"><a href="/ecourse-bdsf">Training Program</h4>
              <p class="description read-more">Do you have a passion to become a Data Scientist? Our premium Training Program helps you get started and going far.
              <br>
                <a href="/ecourse-bdsf"><i class="bi bi-arrow-right"></i> Learn More</a><br>
                {# <a href="/form-course-application"><i class="bi bi-arrow-right"></i> Send an Application</a><br> #}
                <a href="/pricing"><i class="bi bi-arrow-right"></i> Enroll Now</a></p>              
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><a href="/coaching-plan"><i class="bi bi-trophy" style="color: #94c045;"></i></a></div>
              <h4 class="title"><a href="/coaching-plan">Mentoring Program <img src="/assets/img/payments.png" height="30px"></a></h4>
              <p class="description">Do you want to move into your first/next Data Science job? Let's understand your strengths & weaknesses and make an actionable plan for you.
                <br>
              <a href="/coaching-plan"><i class="bi bi-arrow-right"></i> Learn More</a><br>
                {# <a href="/form-mentorship-application"><i class="bi bi-arrow-right"></i> Send an Application</a><br> #}
                <a href="/pricing"><i class="bi bi-arrow-right"></i> Enroll Now</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->




      <!-- End Bio Section -->